<% if( success && success.length>0 ){ %>
  <div class="alert alert-success alert alert-dismissible fade show mt-2 col-6 offset-3" style="justify-content: space-between;" role="alert"><%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
    </div>
<% } %>  