<% if( success && success.length>0 ){ %>
  <div class="alert alert-success alert alert-dismissible fade show mt-2 col-10 offset-1" style="justify-content: space-between;" role="alert"><%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
    </div>
<% } %>  
<% if( error && error.length>0 ){ %>
  <div class="alert alert-danger alert alert-dismissible fade show mt-2 col-10 offset-1" style="justify-content: space-between;" role="alert"><%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
    </div>
<% } %>  