<% layout('./layout/boilerplates') -%><body>
    <h1>Listings </h1>
    <ul>
        <% for(list of allListing){ %>
            <!-- anchor tag will reflect to get request with the listed post id -->
            <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
        <% } %>
    </ul>
</body>
