/* *{
    margin: 0;
    padding: 0;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* for stick the footer */
.container{
    flex: 1;
}

/* NavBar Start */
.navbar {
    height: 5rem;
    background: white;
}

.fa-compass {
    font-size: larger;
    color: rgb(255, 0, 0);
}

.nav-link {
    color: black !important;
}

/* NavBar End */

/* Footer Start */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
    color: #222222;
}

.f-info-links,
.f-info-socials,.f-info-brand {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Footer End */

/* AllCards start */

.allCards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: none !important;
    margin: auto;
    width: auto;
}

.card-img-top{
    border-radius: 1rem !important;
    height: 300px;
    width: 300px;
    /* width: 100%;
    object-fit: cover !important; */
}

.card-body{
    padding: 0;
}

.card img:hover{
    transition-duration: .3s;
    /* transition-property: all; */
    transition-timing-function: ease-in-out;
    transform: scale(1.1);
}

/* AllCards End */

/* card-img-overlay Start */

/* .card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: .2;
    background-color: white;
} */


/* card-img-overlay End */